h1 {
    text-align: center;
    font-size: 90px;
    margin-top: 220px;
}

h1 span:nth-child(1) {
    color: #4285f4;
}

h1 span:nth-child(2) {
    color: #ea4335;
}

h1 span:nth-child(3) {
    color: #fbbc20;
}

h1 span:nth-child(4) {
    color: #4285f4;
}

h1 span:nth-child(5) {
    color: #34a852;
}

h1 span:nth-child(6) {
    color: #ea4335;
}

.search-bar {
    width: 550px;
}